<a class="getstarted scrollto active" href="@Url.Action("Index",
"GioHang")" style="font-weight:bold; text-decoration:none">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    Giỏ hàng
</a>
